* {
  margin: 0;
}
/* HEADER */
.header {
  display: flex;
  height: 5vh;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background-color: rgba(10, 46, 117, 0.848);
  color: rgb(209, 219, 247);
}
.header .logo {
  background-image: url(../images/jetflare-logo.png);
  height: 100px;
  width: 100px;
  object-fit: contain;
  background-position: center;
  background-size: cover;
  margin-left: 30px;
}
.header .nav {
  width: 30%;
  display: flex;
  font-size: 15px;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
}
.header button {
  background: white;
  color: rgba(10, 46, 117, 0.848);
  height: 45px;
  width: 150px;
  border: none;
  border-radius: 25px;
  text-transform: capitalize;
  font-size: medium;
  margin-right: 30px;
}
/* HERO */
.hero {
  height: 110vh;
  background-color: rgba(10, 46, 117, 0.848);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
}
.hero .left {
  width: 50%;
  margin-left: 70px;
}
.hero .left h1 {
  font-size: 47px;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 1.5cm;
  width: 70%;
  font-weight: 300;
  font-family: Arial, Helvetica, sans-serif;
}
.hero .left p {
  letter-spacing: 1.5px;
  line-height: 23px;
  font-size: medium;
  width: 70%;
  margin-top: 30px;
  margin-bottom: 30px;
}
.hero .left button {
  height: 80px;
  width: 220px;
  background-color: deepskyblue;
  border: none;
  border-radius: 10px;
  color: white;
  text-transform: capitalize;
  font-size: large;
  letter-spacing: 2px;
}
.hero .left button > i {
  font-size: larger;
  margin-left: 10px;
}
.hero .right {
  background-image: url(../images/home-hero.png);
  height: 480px;
  width: 600px;
  object-fit: contain;
  background-position: center;
  background-size: cover;
}

/* SEPARATOR */
.separator {
  width: 0;
  height: o;
  border-left: 100vw solid transparent;
  border-bottom: 13.9vw solid white;
  margin-top: -13.9vw;
}
.mission-separator {
  width: 0;
  height: o;
  border-left: 100vw solid transparent;
  border-bottom: 13.9vw solid rgba(9, 24, 56, 0.943);
  margin-top: -13.9vw;
  border-top-right-radius: 80px;
}
.services-separator {
  width: 0;
  height: o;
  border-left: 100vw solid transparent;
  border-bottom: 13.9vw solid whitesmoke;
  margin-top: -13.9vw;
}
/* WHAT WE DO BEST */
.dos {
  height: 100vh;
  padding: 50px;
  margin-left: 70px;
}
.dos .top {
  margin-left: 70px;
  margin-bottom: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.dos .top h5 {
  color: deepskyblue;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 20px;
  font-weight: 200;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}
.dos .top h5 > i {
  color: deepskyblue;
  font-size: x-large;
}
.dos .top h1 {
  width: 90%;
  font-weight: 300;
  letter-spacing: 1.5px;
  line-height: 1cm;
  font-weight: 200;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 30px;
}
.dos .top p {
  width: 60%;
  letter-spacing: 2px;
  line-height: 23px;
  font-size: 18px;
  margin-bottom: 30px;
  color: rgb(38, 37, 37);
}
.dos .middle {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
}
.dos .middle .img {
  border-radius: 20px;
  margin-right: 20px;
}
.dos .bottom {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dos .bottom h3 {
  text-transform: capitalize;
  letter-spacing: 1px;
  line-height: 20px;
  font-weight: 600;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.dos .bottom p {
  width: 80%;
  letter-spacing: 2px;
  line-height: 23px;
  font-size: 15px;
  margin-bottom: 30px;
  color: rgb(38, 37, 37);
  margin-top: 20px;
}
/* JETFLARE CEO */
.ceo {
  height: 70vh;
  background-color: deepskyblue;
  color: rgb(212, 233, 240);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}
.ceo .intro {
  width: 40%;
  margin-left: 50px;
}

.ceo .intro h6 {
  margin-bottom: 40px;
  letter-spacing: 2px;
  line-height: 20px;
  font-weight: 200;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}
.ceo .intro h6 > i {
  font-size: larger;
}
.ceo .intro h1 {
  width: 50%;
  font-weight: 300;
  letter-spacing: 1.5px;
  line-height: 1cm;
  font-weight: 200;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 30px;
}
.ceo .intro .profile {
  width: 55%;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ceo .intro .profile .face {
  background-image: url(../images/face1.jpg);
  object-fit: contain;
  background-position: center;
  background-size: cover;
  height: 70px;
  width: 70px;
  border-radius: 50%;
}
.ceo .intro .profile h5 {
  text-transform: capitalize;
  letter-spacing: 1.5px;
  line-height: 20px;
  font-weight: 200;
  font-size: 15px;
  margin-bottom: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
.ceo .details {
  width: 50%;
}
.ceo .details p {
  width: 80%;
  letter-spacing: 2.5px;
  line-height: 28px;
  font-size: 15px;
}
/* OUR MISSION AND VISION*/
.mission-vision {
  height: 180vh;
  width: 92.5vw;
  padding: 50px;
  background-color: rgb(227, 241, 241);
}
.mission-vision .mission {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 80px;
}
.mission-vision .mission .explain {
  margin-left: 80px;
}

.mission-vision .explain h5 {
  color: deepskyblue;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 20px;
  font-weight: 200;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}
.mission-vision .explain h5 > i {
  color: deepskyblue;
  font-size: x-large;
}
.mission-vision .explain h1 {
  width: 70%;
  font-weight: 300;
  letter-spacing: 1.5px;
  line-height: 1cm;
  font-weight: 200;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 30px;
}
.mission-vision .explain p {
  width: 60%;
  letter-spacing: 2px;
  line-height: 26px;
  font-size: 15px;
  margin-bottom: 30px;
  color: rgb(38, 37, 37);
  font-family: Arial, Helvetica, sans-serif;
}
.mission-vision .image {
  border-radius: 15px;
  box-shadow: 5px 5px 5px 6px rgba(171, 170, 170, 0.809);
}
.mission-vision .vision {
  margin: 130px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mission-vision .vision .explain {
  margin-left: 50px;
}
/* LEARN MORE  */
.learn {
  background-color: rgba(9, 24, 56, 0.943);
  height: 120vh;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom-left-radius: 100px;
}
.learn button {
  height: 30px;
  width: 130px;
  border: none;
  border-radius: 15px;
  background-color: rgb(227, 241, 241);
  color: deepskyblue;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
  margin-top: 50px;
}
.learn h1 {
  color: rgb(227, 241, 241);
  width: 40%;
  font-weight: 300;
  letter-spacing: 1.5px;
  line-height: 1cm;
  font-weight: 200;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align-last: center;
}
.learn p {
  width: 45%;
  letter-spacing: 2px;
  line-height: 32px;
  font-size: 15px;
  margin-bottom: 30px;
  color: rgb(227, 241, 241);
  font-family: Arial, Helvetica, sans-serif;
  text-align-last: center;
}
.learn .box {
  height: 350px;
  width: 650px;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
}
.learn .box .i {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: deepskyblue;
  color: rgb(227, 241, 241);
  display: flex;
  justify-content: center;
  align-items: center;
}
/* AMBULANCE CERVICES */
.services {
  background-color: whitesmoke;
  height: 90vh;
  padding: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.services .image {
  background-image: url(../images/our.jpg);
  object-fit: contain;
  background-position: center;
  background-size: cover;
  height: 450px;
  width: 350px;
  border-radius: 5px;
  filter: drop-shadow(20px 30px black);
}
.services .explain {
  width: 50%;
}
.services .explain h5 {
  color: deepskyblue;
  font-weight: 300;
  letter-spacing: 1.5px;
  line-height: 1cm;
  font-weight: 200;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
}
.services .explain h1 {
  color: rgba(37, 36, 36, 0.827);
  width: 80%;
  font-weight: 300;
  letter-spacing: 1.5px;
  line-height: 1cm;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
  margin-bottom: 30px;
}
.services .explain p {
  width: 90%;
  letter-spacing: 2px;
  line-height: 32px;
  font-size: 15px;
  margin-bottom: 30px;
  color: rgb(30, 29, 29);
  font-family: Arial, Helvetica, sans-serif;
}
/* TESTIMONIALS */
.testimonial {
  height: 100vh;
  background-color: whitesmoke;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.testimonial .box {
  height: 80%;
  width: 85vw;
  background-color: rgb(192, 223, 234);
  border-radius: 20px;
}
.testimonial .box .upper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
}
.testimonial .box .upper h5 {
  color: deepskyblue;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  line-height: 1cm;
  font-weight: 200;
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
}
.testimonial .box .upper h1 {
  color: rgba(37, 36, 36, 0.827);
  font-weight: 300;
  letter-spacing: 1.5px;
  line-height: 1cm;
  width: 70%;
  font-size: 26px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
  margin-bottom: 30px;
}
.testimonial .box .upper p {
  width: 50%;
  letter-spacing: 2px;
  line-height: 32px;
  font-size: 15px;
  margin-bottom: 30px;
  color: rgb(7, 7, 7);
  font-family: Arial, Helvetica, sans-serif;
}

.testimonial .box .lower {
  width: 90vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.testimonial .box .lower .container {
  height: 220px;
  width: 400px;
  border-radius: 10px;
  background-color: whitesmoke;
  margin-right: 5vw;
  padding: 20px;
}
.testimonial .box .lower .container p {
  width: 95%;
  letter-spacing: 1px;
  line-height: 30px;
  font-size: 13px;
  color: rgb(24, 24, 24);
  font-family: Arial, Helvetica, sans-serif;
}
.testimonial .box .lower .container .i1 {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: deepskyblue;
  color: white;
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 2vw;
}
.testimonial .box .lower .container .i2 {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: deepskyblue;
  color: white;
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 2vw;
}
.testimonial .box .lower .container .profile {
  width: 85%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
}
.testimonial .box .lower .container .profile .face {
  background-image: url(../images/face1.jpg);
  object-fit: contain;
  background-position: center;
  background-size: cover;
  height: 70px;
  width: 70px;
  border-radius: 50%;
}
.testimonial .box .lower .container .profile h5 {
  text-transform: capitalize;
  letter-spacing: 1px;
  line-height: 1cm;
  font-weight: 600;
  color: rgb(30, 29, 29);
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}
.testimonial .box .dots {
  text-align: center;
  margin-top: 40px;
  font-size: 40px;
  color: gray;
}
.testimonial .box .dots span {
  color: deepskyblue;
}
/* FOOTER */
.footer {
  height: 100vh;
  background-color: rgba(9, 24, 56, 0.943);
  border-top-right-radius: 40px;
  padding: 50px;
  color: rgb(215, 224, 224);
}
.footer .top {
  width: 85%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 70px;
  border-bottom: solid 1px rgb(98, 97, 97);
  padding-left: 70px;
}
.footer .top h1 {
  letter-spacing: 1.5px;
  line-height: 1cm;
  font-weight: 200;
  width: 70%;
  font-size: 23px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
  margin-bottom: 30px;
}
.footer .top p {
  width: 60%;
  letter-spacing: 2px;
  line-height: 32px;
  font-size: 15px;
  margin-bottom: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.footer .top .buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}
.footer .top .buttons .btn1 {
  height: 60px;
  width: 180px;
  border: none;
  border-radius: 5px;
  background-color: rgba(8, 13, 23, 0.488);
  color: rgb(148, 160, 160);
  text-transform: capitalize;
  font-size: 18px;
  letter-spacing: 1px;
  margin-top: 50px;
}
.footer .top .buttons .btn2 {
  height: 60px;
  width: 150px;
  border: none;
  border-radius: 5px;
  background-color: deepskyblue;
  color: rgb(227, 241, 241);
  text-transform: capitalize;
  font-size: 15px;
  letter-spacing: 1px;
  margin-top: 50px;
}
.footer .bottom {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 70px;
  border-bottom: solid 1px rgb(98, 97, 97);
  padding-left: 70px;
}
.footer .bottom p {
  width: 80%;
  letter-spacing: 2px;
  line-height: 32px;
  font-size: 15px;
  margin-bottom: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.footer .bottom h1 {
  letter-spacing: 1.5px;
  line-height: 1cm;
  font-weight: 200;
  font-size: 23px;
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
  margin-bottom: 30px;
}
.footer .bottom .company {
  width: 50%;
  letter-spacing: 1.5px;
  line-height: 1cm;
  font-weight: 200;
  font-size: 15px;
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
  margin-bottom: 30px;
  color: rgb(148, 160, 160);
}
.footer .bottom .git {
  width: 50%;
  letter-spacing: 1.5px;
  line-height: 1cm;
  font-weight: 200;
  font-size: 15px;
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
  margin-bottom: 30px;
  color: rgb(148, 160, 160);
}
.footer .copy {
  text-align: center;
  font-size: 12px;
  letter-spacing: 1.5px;
  color: rgb(148, 160, 160);
}
